* {
    box-sizing: border-box;
}

button {
    padding: 0;
    color: inherit;
    cursor: pointer;
    background: none;
    border-width: 0;
    outline: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
    margin: 0;
}

cite {
    font-style: normal;
}

fieldset {
    padding: 0;
    margin: 0;
    border-width: 0;
}
